{
  "presets": [
    [
      "env",
      { "modules": false }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }]
      ],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}
