.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

.react-calendar-heatmap .color-small {
  fill: #d6e685;
}
.react-calendar-heatmap .color-medium {
  fill: #8cc665;
}
.react-calendar-heatmap .color-large {
  fill: #44a340;
}
.react-calendar-heatmap .color-huge {
  fill: #1e6823;
}
